$animateDurPrimary            : 0.3s;
$animateDurSecondary          : 0.5s;
$animateEasingPrimary         : ease-in-out;
$animateEasingSecondary       : cubic-bezier(0,1.01,.54,1.57);
$animateEasingThird           : cubic-bezier(.4,0,.2,1);

$borderRadiusPrimary          : 4px;
$borderRadiusSecondary        : 10px;

$fontFamilyPrimary            : 'CirceLight', Helvetica, sans-serif;


